<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body  style="background-color: rgb(245, 220, 220)">
<div>
    {% block title %}
    {% endblock %}
</div>

<div>
    {% block nav %}
    {% endblock %}
</div>

<div>
    {% block content %}
    {% endblock %}
</div>

<div>
    {% block last %}
    {% endblock %}
</div>
</body>
</html>