{% extends 'base.html' %}

{% block title %}
    <p class="fst-italic" align="right" style="color:black; font-size:30px">List of purchases</p>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-light" style="background-color: #eaafc8">
    <div class="d-grid gap-4 d-md-flex justify-content-md-end">
        {% if not request.user.is_authenticated %} 
        <a href={% url 'login' %} class="btn btn-warning  m-1" role="button"> Login </a>
        <a href={% url 'register' %} class="btn btn-warning m-1 " role="button"> Registration </a>
        <a href={% url 'list_of_movies' %} class="btn btn-warning m-1 " role="button"> List of movies </a>
        <a href={% url 'session_list' %} class="btn btn-primary m-1" role="button"> Return to main page </a>
    </div>
    {% elif not request.user.is_superuser %}
            <a href={% url 'logout' %} class="btn btn-primary me-md-2" role="button"> Logout </a>
            <a href={% url 'list_of_movies' %} class="btn btn-warning m-1 " role="button"> List of movies </a>
            <a href={% url 'session_list' %} class="btn btn-primary m-1" role="button"> Return to main page </a>
    {% else %}
            <a href={% url 'logout' %} class="btn btn-warning m-1" role="button"> Logout </a>
            <a href={% url 'create_movies' %} class="btn btn-success m-1" role="button"> Create movies </a>           
            <a href={% url 'create_halls' %} class="btn btn-success m-1" role="button"> Create halls </a>
            <a href={% url 'add_sessions' %} class="btn btn-success m-1" role="button"> Create sessions </a>
            <a href={% url 'list_of_movies' %} class="btn btn-warning m-1 " role="button"> List of movies </a>
            <a href={% url 'session_list' %} class="btn btn-primary m-1" role="button"> Return to main page </a>
    {% endif %}
</nav>
{% endblock %}
{% block content %}
<div class="card-header" style="background-color: #9ee0b4">
Consumer: {{user}}<br>
Spent: {{user.spent}}<br>
</div>
{% for obj in object_list %}
        Product: {{ obj }}<br>
        Session: {{ obj.session }}<br>
        Quantity: {{obj.quantity}}<br>
 
</div>
{% endfor %}   
{% endblock %}





