{% extends 'base.html' %}

{% block title %}
    <p class="fst-italic" align="right" style="color:black; font-size:30px">List of sessions</p>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-light" style="background-color: #eaafc8">
    <div class="d-grid gap-4 d-md-flex justify-content-md-end">
      {% if not request.user.is_authenticated %} 
        <a href={% url 'login' %} class="btn btn-warning  m-1" role="button"> Login </a>
        <a href={% url 'register' %} class="btn btn-warning m-1 " role="button"> Registration </a>
        <a href={% url 'list_of_movies' %} class="btn btn-warning m-1 " role="button"> List of movies </a>
        {% elif not request.user.is_superuser %}
            <a href={% url 'logout' %} class="btn btn-primary  m-1" role="button"> Logout </a>
            <a href={% url 'list_of_purchases' %} class="btn btn-warning m-1 " role="button"> List of purchases </a>
          {% elif request.user.is_superuser %}
            <a href={% url 'logout' %} class="btn btn-primary m-1" role="button"> Logout </a>
            <a href={% url 'list_of_movies' %} class="btn btn-warning m-1 " role="button"> List of movies </a>
            <a href={% url 'create_movies' %} class="btn btn-success m-1" role="button"> Create movies </a>           
            <a href={% url 'create_halls' %} class="btn btn-success m-1" role="button"> Create halls </a>
            <a href={% url 'add_sessions' %} class="btn btn-success m-1" role="button"> Create sessions </a>
      {% endif %}
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="mx-auto my-1 my-sm-2 my-lg-1 p-1">
<form method="get" action="{% url 'session_list' %}">
    {{ sort }}
    <input type="submit" value="Sort">
</form>
</div>

{% if request.user.is_superuser %}

  {% for session in object_list %}
  <div class="card-group justify-content-center align-items-center">
    <div class="card text-dark bg-warning" style="max-width: 18rem;">
    <div class="card-body">
    <form action="{% url 'session_list' %}" method="post" class="sort-form">
      <div>
      <div class="card-header" style="background-color: #9ee0b4"> Movie: {{ session.movie_title }}</div>
      <h6 class="card-text">    <p> Hall name: {{ session.hall_name }}</h6>
      <h6>Start session time: {{ session.start_session_time }}</h6>
      <h6>End session time: {{ session.end_session_time }}</h6>
      <h6>Date start show: {{ session.date_start_show }}</h6>
      <h6>Date end show: {{ session.date_end_show }}</h6>  
      <h6>Free seats: {{ session.free_seats }}</h6>  
      <h6>Price: {{ session.price}}</h6>  
      <h6>Is active: {{ session.is_active}}</h6><br>
    </form>
      <form method="get" action="{% url 'update_sessions' session.pk %}">
        <input type="submit" value="Update movie">
      </form> 

      <form method="get" action="{% url 'update_halls' session.hall_name.pk %}">
        <input type="submit" value="Update halls">
      </form>       

    </div> 
  </div> 
</div>
{% endfor %}

{% elif request.user.is_authenticated %}
  {% for session in object_list %}
  <form method="post" action="{% url 'purchase_create' %}">
    {% csrf_token %}
  <div class="card-group justify-content-center align-items-center">
    <div class="card text-dark bg-warning" style="max-width: 18rem;">
    <div class="card-body">
      <div>
      <div class="card-header" style="background-color: #9ee0b4"> Movie: {{ session.movie_title }}</div>
      <h6 class="card-text">    <p> Hall name: {{ session.hall_name }}</h6>
      <h6>Start session time: {{ session.start_session_time }}</h6>
      <h6>End session time: {{ session.end_session_time }}</h6>
      <h6>Date start show: {{ session.date_start_show }}</h6>
      <h6>Date end show: {{ session.date_end_show }}</h6>  
      <h6>Free seats: {{ session.free_seats }}</h6>  
      <h6>Price: {{ session.price}}</h6>  
      <h6>Is active: {{ session.is_active}}</h6><br>
      {{ purchase_form }}
      <input type="hidden"  name="session" value="{{ session.pk }}">
      <button type="submit" value="Buy" class="btn btn-success m-1">Buy</button>  
    </form>
    </div> 
  </div> 
</div>
{% endfor %}
{% endif %}
{% endblock %}