{% extends 'base.html' %}
 
{% block title %}
    <p class="fst-italic" align="right" style="color:black; font-size:30px">Update halls</p>
{% endblock %}

{% block nav %}
<a href={% url 'logout' %} class="btn btn-primary me-md-2" role="button"> Logout </a>
<a href={% url 'session_list' %} class="btn btn-primary m-1" role="button"> Return to main page </a>
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary m-1">Update halls</button>
    </form>
{% endblock %}